.loader-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 9999;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  
  &.fade-out {
    opacity: 0;
    visibility: hidden;
  }
}

