.loader-container {
  width: 18rem;
  height: 18rem;
  animation: spin-slow 12s linear infinite;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}